{% extends 'base.html.twig' %}

{% block title %}Hello TaxController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .table-price,
        .table-price th,
        .table-price td {
            border: 1px solid;
        }
        /* It's better to move styles to separate file, but it will be enough for a test task */
    </style>

    <div class="example-wrapper">
        {{ form(form) }}

        {% if result is not null %}
            <table class="table-price">
                <thead>
                    <tr>
                        <td>
                            Tax code
                        </td>
                        <td>
                            Country
                        </td>
                        <td>
                            Final price
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            {{ result.taxCode }}
                        </td>
                        <td>
                            {{ result.country }}
                        </td>
                        <td>
                            {{ result.price }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
